/* @import url(../fonts/gilroy-bold-cufonfonts-webfont/style.css); */
/* @import url(../fonts/chronicle-display-cufonfonts/Chronicle\ Display\ Roman.otf);
@import url(../fonts/chronicle-display-cufonfonts/Chronicle\ Display\ Black.otf); */

@import url(../fonts/chronicle-display-cufonfonts/style.css);
@import url(../fonts/gilroy-bold-cufonfonts-webfont/style.css);

.page {
  --white: #fff;
  --golden: #fbd784;
  --black: #0b1d26;
  font-family: "Gilroy-Bold", sans-serif;
  width: 1920px;
  min-height: 100vh;
  background: url(../images/VG.png) 0 768px / contain no-repeat,
    url(../images/MG.png) 0 464px / contain no-repeat,
    url(../images/HG.png) 0 0 / contain no-repeat, #0b1d26;
  padding-bottom: 120px;
}

.page__gray-background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 1200px;
  background: linear-gradient(
    330.24deg,
    rgba(11, 29, 38, 0) 31.06%,
    #0b1d26 108.93%
  );
}

.page__gray-background_pos_bottom {
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  top: 1200px;
  height: 700px;
}

.header {
  position: relative;
  z-index: 1;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 80px 64px 0;
}

.logo {
  text-transform: uppercase;
  font-family: "Chronicle Display", serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  font-weight: bolder;
}

.header__nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}
.header__nav-link {
  margin-right: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.header__nav-link::first-letter {
  text-transform: uppercase;
}

.header__nav-link:last-of-type {
  margin-right: 0;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user-img {
  margin-right: 8px;
}

.header__user-name {
  font-size: 17px;
  line-height: 21px;
}

.aside-nav {
  position: fixed;
  right: 80px;
  top: 359px;
  color: var(--white);
  width: 77px;
}

.aside-nav__links {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  text-align: right;
  /* padding-right: 32px; */
}

.aside-nav__link {
  /* margin-bottom: 40px; */
  padding-top: 20px;
  padding-right: 25px;
  height: 60px;
  border-right: 3px solid var(--white);
  box-sizing: border-box;
  opacity: 0.5;
}

.aside-nav__link:first-of-type {
  opacity: 1;
}

.aside-social {
  position: fixed;
  left: 80px;
  top: 359px;
  color: var(--white);
}

.aside-social__title {
  margin: 0;
  writing-mode: vertical-lr;
  box-sizing: border-box;
}

.aside-social__title:first-letter {
  text-transform: uppercase;
}

.aside-social__links {
  list-style: none;
  padding: 0;
}

.aside-social__link {
  margin-top: 24px;
}

.main {
  position: relative;
  width: 1462px;
  margin: 0 auto;
}
.main-description {
  color: var(--white);
  width: 950px;
  margin: 198px auto 843px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-description__title {
  display: flex;
  align-items: center;
}

.line {
  width: 72px;
  border-bottom: 2px solid#fbd784;
  margin-right: 32px;
}

.main-description__title-text {
  text-transform: uppercase;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--golden);
  margin: 0;
  letter-spacing: 6px;
}

.main-description__subtitle {
  font-family: "Chronicle Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 32px;
}

.main-description__link {
  margin: 0;
  margin-top: 32px;
  font-family: "Gilroy-Bold";
  display: flex;
}

.main-description__link-img {
  margin-left: 16px;
}

.main-article {
  color: var(--white);
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.main-article__text-col {
  margin-left: 120px;
  margin-right: 114px;
  align-self: center;
  position: relative;
}

.main-article__title {
  display: flex;
  align-items: center;
}
.main-article__title-text {
  text-transform: uppercase;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--golden);
  margin: 0;
  letter-spacing: 6px;
}

.main-article__subtitle {
  max-width: 555px;
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  margin: 0;
  margin-top: 27px;
}

.main-article__text {
  max-width: 632px;
  margin: 0;
  margin-top: 27px;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-article__img {
  width: 566px;
  height: 720px;
}

.main-article_type_right-text {
  flex-direction: row-reverse;
}

.main-article__text-col_type_right-text {
  margin-left: 264px;
  margin-right: 0;
}

.main__article {
  margin-bottom: 200px;
}

.main-article__link {
  margin: 0;
  display: block;
  margin-top: 27px;
  color: var(--golden);
  display: flex;
}

.main-article__link-img {
  margin-left: 16px;
}

.main-article__number {
  position: absolute;
  left: -160px;
  top: -100px;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  opacity: 0.1;
}

.footer {
  padding-top: 200px;
  width: 1462px;
  margin: 0 auto;
  height: 280px;
  color: var(--white);
}

.footer__columns {
  width: 100%;
  display: flex;
}

.footer__copyright-text {
  padding: 0;
  margin-top: 24px;
  max-width: 303px;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.footer__copyright {
  padding: 0;
  margin-top: 122px;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}

.footer__title {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--golden);
  margin: 0;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

.footer__link {
  text-decoration: none;
  color: var(--white);
  margin-top: 16px;
  display: block;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.footer__column_content_cotpyright {
  flex-shrink: 0;
}

.footer__column_content_blogs {
  flex-shrink: 0;
  margin-left: 540px;
}

.footer__column_content_more {
  margin-left: auto;
  flex-shrink: 0;
}
